.infoCard-title {
  color: #cccccc;
}

.infoCard-date {
  color: #212121;
  font-style: italic;
}

.infoCard-description {
  color: #212121;
  font-weight: 700;
}

.infoCard-container {
  background-color: #696969;
  border: 1px #424242 solid;
  flex-grow: 1;
  padding: 15px;
  transition: 500ms;
}

.infoCard-container:hover {
  background-color: #424242;
}