.header-container {
  display: flex;
  justify-content: space-between;
}

.header-links {
  position: relative;
  margin: 2vh 10vw;
  height: 20vh;
}

.header-image {
  position: relative;
  height: 20vh;
  margin: 2vh 10vw;
}