body {
  font-family: 'Roboto', sans-serif;
  background-color: #424242;
  max-width: 1080px;
  margin: 0;
}

@media print {
  * {
      color: #000000;
  }
  header::before {
      content: "For the live version, please, visit https://bartfelder.github.io/";
      display: block;
  }
  body {
      background-color: #ffffff;
      width: 95%;
  }
  section:nth-of-type(even) {
      background-color: #b2b2b2;
  }
  .block-wrapper {
      background-color: #969696;
      border: 1px #212121 solid;
  }
  .block-wrapper {
      height: 12vh;
  }
  .section-title {
      height: 12vh;
  }
  .block-wrapper:hover {
      background-color: #969696;
  }
}
